h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    color: red;
    font-family: 'Ranchers', cursive;
}
.location p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: red;
    font-family: 'Ranchers', cursive;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
table, th, td {
    border: 1px solid rgb(126, 124, 124);
    border-collapse: collapse;
    /* width: 100%; */
    border-bottom: 1px solid rgb(121, 120, 120);
}
table {
    width: 50%;
    margin-left: 180px;
    
}
th {
    background-color: #f71616;
    color: rgb(216, 213, 213);
    /* padding: 10px; */
  }
td , tr{
    text-align: center;
    padding: 5px;
}
.HoursOpen p{
 color: black;
 font-weight: lighter;
}
.location p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: red;
    font-family: 'Ranchers', cursive;
}