h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    color: red;
    font-family: 'Ranchers', cursive;
}
.location p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: red;
    font-family: 'Ranchers', cursive;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
table, th, td {
    border: 1px solid rgb(126, 124, 124);
    border-collapse: collapse;
    /* width: 100%; */
    border-bottom: 1px solid rgb(121, 120, 120);
}
table {
    width: 50%;
    margin-left: 180px;
    
}
th {
    background-color: #f71616;
    color: rgb(216, 213, 213);
    /* padding: 10px; */
  }
td , tr{
    text-align: center;
    padding: 5px;
}
.HoursOpen p{
 color: black;
 font-weight: lighter;
}
.location p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: red;
    font-family: 'Ranchers', cursive;
}
#lists {
    background-color: rgb(252, 223, 223);
    width: 100%;
    overflow: auto;
}
#lists ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#lists ul li{
    float: left;
}
#lists ul li a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(247, 91, 91);
    /* background-color: rgb(252, 223, 223); */
    font-size: 18px;
    padding: 15px;
}
#lists ul li a:hover{
    background-color: rgb(243, 78, 78);
    color: white;
}
.container{
     max-width: 1200px; 
    overflow: auto;
     margin: auto; 
     background-color: wheat;
}
.images{
     margin: 5px;
    border: 1px solid rgb(247, 149, 149); 
     float: left;
     width: 390px; 
} 
.images img{
    width: 100%;
    height: auto;
    display: block;
}
#saleLink a{
    font-size: 20px;
}