*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    background: rgb(253, 242, 253);
    background-size: cover;
    height: 130vh;
}
.wrapper h1{
    font-size: 35px;
    margin-top: 5px;
    color: purple;
    padding: 15px;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.navbar ul{
     float: left;
     margin-left: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
   height: 300px;
   border-collapse: collapse;
   border-radius: 12px 12px 0px 0px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
   width: 80%;
   background-color: white;
   text-align: center;
}
th,td{
    padding: 10px;
}
th{
background: rgb(151, 138, 151);
text-align: center;
text-transform: uppercase;
}
tr:nth-child(odd){
background-color: rgb(253, 234, 253);
}
#salesForm legend{
    font-size: 25px;
    color: purple;
    padding: 10px;
}
.formStyle{
   display: flex; 
}
.formStyle label{
    padding: 10px;
   font-size: 17px;
}
.formStyle  #submitBtn {
    color: white;
    background-color: purple;
    font-size: 16px;
    margin: 10px;
}