*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    background: url(../img/2.jpg) no-repeat;
    background-size: cover;
    height: 130vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.navbar ul{
     float: left;
     margin-left: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: purple;
    border-radius: 10px;
}
.wrapper .center{
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 30px;
    text-align: center;
    color: rgb(71, 68, 68);
} 
.center h2{
    font-size: 25px;
    margin-top: 5px;
    color: rgba(27, 27, 27, 0.65);
}
.center button{
color: white;
width: 100px;
height: 30px;
margin-top: 30px;
background: purple;
border: 1px solid white;
outline: none;
cursor: pointer;
border-radius: 10px;
}
.center button:hover{
background:rgb(243, 236, 243);
color: purple;
font-weight: bold;
font-size: 14px;
}

    